In [40]:
import pandas as pd

import plotly.graph_objects as go

import pickle

In [41]:
base_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/"
new_base_url = 'https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/'
#'https://github.com/CSSEGISandData/COVID-19/blob/master/csse_covid_19_data/csse_covid_19_time_series/'

def loadData(fileName, columnName):
    data = pd.read_csv(base_url + fileName) \
             .melt(id_vars=['Province/State', 'Country/Region', 'Lat', 'Long'], var_name='date', value_name=columnName) \
             .fillna('<all>')
    data['date'] = data['date'].astype('datetime64[ns]')
    return data

In [42]:
# Getting data
all_data = loadData("time_series_covid19_confirmed_global.csv", "CumConfirmed") \
    .merge(loadData("time_series_covid19_deaths_global.csv", "CumDeaths"))

all_data.head()

,Province/State,Country/Region,Lat,Long,date,CumConfirmed,CumDeaths
0,<all>,Afghanistan,33.0000,65.0000,2020-01-22,0,0
1,<all>,Albania,41.1533,20.1683,2020-01-22,0,0
2,<all>,Algeria,28.0339,1.6596,2020-01-22,0,0
3,<all>,Andorra,42.5063,1.5218,2020-01-22,0,0
4,<all>,Angola,-11.2027,17.8739,2020-01-22,0,0

In [43]:
grouped_countries = all_data.groupby('Country/Region').agg({'CumConfirmed': 'max', 'CumDeaths': 'max'}).reset_index()
grouped_countries.head()

  Country/Region  CumConfirmed  CumDeaths
0    Afghanistan           281          6
1        Albania           304         17
2        Algeria          1171        105
3        Andorra           439         16
4         Angola             8          2

In [44]:
# Opening pickled age dictionary
with open('./pickled_files/age_dict.pkl', 'rb') as f:
    age_dict = pickle.load(f)
age_dict

{'Aruba': 13.5509471396854,
 'Afghanistan': 2.58492693988024,
 'Angola': 2.21637364776329,
 'Albania': 13.7447359109736,
 'Andorra': nan,
 'Arab World': 4.55787642361103,
 'United Arab Emirates': 1.0850009848448101,
 'Argentina': 11.1177888760774,
 'Armenia': 11.2538176570131,
 'American Samoa': nan,
 'Antigua and Barbuda': 8.79982551980558,
 'Australia': 15.656475227559099,
 'Austria': 19.0015664595899,
 'Azerbaijan': 6.195182750714929,
 'Burundi': 2.24694046033717,
 'Belgium': 18.7887437383395,
 'Benin': 3.25360529746338,
 'Burkina Faso': 2.4069808286635497,
 'Bangladesh': 5.15839063962068,
 'Bulgaria': 21.021914434268,
 'Bahrain': 2.42633387832394,
 'Bahamas, The': 7.25760235662035,
 'Bosnia and Herzegovina': 16.4703174710621,
 'Belarus': 14.8451481743098,
 'Belize': 4.736458776571441,
 'Bermuda': nan,
 'Bolivia': 7.19194739218447,
 'Brazil': 8.92283783244003,
 'Barbados': 15.802693962133802,
 'Brunei Darussalam': 4.8731475675058205,
 'Bhutan': 6.003011712805611,
 'Botswana': 4.22387434629301,
 'Central African Republic': 2.82577370666008,
 'Canada': 17.232006678865098,
 'Central Europe and the Baltics': 18.4601184961471,
 'Switzerland': 18.6232165647717,
 'Channel Islands': 17.297462155203302,
 'Chile': 11.529801656881599,
 'China': 10.9208835350654,
 "Cote d'Ivoire": 2.85894301500285,
 'Cameroon': 2.7288773552405696,
 'Congo, Dem. Rep.': 3.0178406215980296,
 'Congo, Rep.': 2.68171953903232,
 'Colombia': 8.47804701986958,
 'Comoros': 3.00700930649436,
 'Cabo Verde': 4.60932715666821,
 'Costa Rica': 9.54984767296984,
 'Caribbean small states': 8.79665874897365,
 'Cuba': 15.1862114171521,
 'Curacao': 16.6848948092804,
 'Cayman Islands': nan,
 'Cyprus': 13.719061773448301,
 'Czech Republic': 19.4208768932343,
 'Germany': 21.4619619953309,
 'Djibouti': 4.52757937811482,
 'Dominica': nan,
 'Denmark': 19.8129526369902,
 'Dominican Republic': 7.08281747649721,
 'Algeria': 6.3624965449798605,
 'East Asia & Pacific (excluding high income)': 9.49623787364322,
 'Early-demographic dividend': 5.8178056840413,
 'East Asia & Pacific': 10.7443580041224,
 'Europe & Central Asia (excluding high income)': 12.0469773953365,
 'Europe & Central Asia': 16.3488906043948,
 'Ecuador': 7.15728972666108,
 'Egypt, Arab Rep.': 5.229779346209231,
 'Euro area': 20.600287593910302,
 'Eritrea': nan,
 'Spain': 19.3785075224995,
 'Estonia': 19.626356846974897,
 'Ethiopia': 3.5011329976098597,
 'European Union': 19.9345216836279,
 'Fragile and conflict affected situations': 3.45084801162229,
 'Finland': 21.7207875455222,
 'Fiji': 5.449680412639519,
 'France': 20.0346247469881,
 'Faroe Islands': nan,
 'Micronesia, Fed. Sts.': 3.9968039772727297,
 'Gabon': 3.5639074683559198,
 'United Kingdom': 18.395865674146602,
 'Georgia': 14.865491431052499,
 'Ghana': 3.0688980069339595,
 'Gibraltar': nan,
 'Guinea': 2.9260224484793502,
 'Gambia, The': 2.5899809393823197,
 'Guinea-Bissau': 2.8237163361526902,
 'Equatorial Guinea': 2.4578773467789703,
 'Greece': 21.6552720778435,
 'Grenada': 9.62190679562869,
 'Greenland': nan,
 'Guatemala': 4.81207250828785,
 'Guam': 9.849910718594659,
 'Guyana': 6.45027124309697,
 'High income': 17.932043932972697,
 'Hong Kong SAR, China': 16.8750483265122,
 'Honduras': 4.69061765907812,
 'Heavily indebted poor countries (HIPC)': 3.0284092379332597,
 'Croatia': 20.445433012423,
 'Haiti': 4.94940384843253,
 'Hungary': 19.1577253832321,
 'IBRD only': 8.48378013902042,
 'IDA & IBRD total': 7.224820740849791,
 'IDA total': 3.55749115143391,
 'IDA blend': 3.4988603827318,
 'Indonesia': 5.857165612728631,
 'IDA only': 3.58759259082614,
 'Isle of Man': nan,
 'India': 6.1799556494714905,
 'Not classified': nan,
 'Ireland': 13.8658017012923,
 'Iran, Islamic Rep.': 6.18457380562499,
 'Iraq': 3.3235996627950497,
 'Iceland': 14.795092556568902,
 'Israel': 11.9769860249625,
 'Italy': 22.7516796025077,
 'Jamaica': 8.79664255070196,
 'Jordan': 3.8464903979983402,
 'Japan': 27.576369910355,
 'Kazakhstan': 7.39184627103032,
 'Kenya': 2.33918661191556,
 'Kyrgyz Republic': 4.494727975596559,
 'Cambodia': 4.56868001756576,
 'Kiribati': 3.95262717204589,
 'St. Kitts and Nevis': nan,
 'Korea, Rep.': 14.418555832396901,
 'Kuwait': 2.55047238400198,
 'Latin America & Caribbean (excluding high income)': 8.24270282039559,
 'Lao PDR': 4.075149964448101,
 'Lebanon': 7.002368134392941,
 'Liberia': 3.25343179968014,
 'Libya': 4.39204025898401,
 'St. Lucia': 9.806530356426169,
 'Latin America & Caribbean': 8.43830607177221,
 'Least developed countries: UN classification': 3.5402491059174,
 'Low income': 3.29117165297115,
 'Liechtenstein': nan,
 'Sri Lanka': 10.4732197537841,
 'Lower middle income': 5.52941547318043,
 'Low & middle income': 7.156651230573031,
 'Lesotho': 4.9010874968221305,
 'Late-demographic dividend': 10.7232529863456,
 'Lithuania': 19.7050331564608,
 'Luxembourg': 14.183154184147199,
 'Latvia': 20.0436203206809,
 'Macao SAR, China': 10.4842029270023,
 'St. Martin (French part)': nan,
 'Morocco': 7.0129048211122,
 'Monaco': nan,
 'Moldova': 11.469556341351199,
 'Madagascar': 2.98671712579162,
 'Maldives': 3.70334460612454,
 'Middle East & North Africa': 5.1821613559713295,
 'Mexico': 7.2236849808719805,
 'Marshall Islands': nan,
 'Middle income': 7.63701466475014,
 'North Macedonia': 13.6701813815648,
 'Mali': 2.50722975755683,
 'Malta': 20.3493242997122,
 'Myanmar': 5.7846419325720895,
 'Middle East & North Africa (excluding high income)': 5.37543637508798,
 'Montenegro': 14.9749366447439,
 'Mongolia': 4.083538787262451,
 'Northern Mariana Islands': nan,
 'Mozambique': 2.8907644574499,
 'Mauritania': 3.14111215805009,
 'Mauritius': 11.474173068652199,
 'Malawi': 2.64543493031032,
 'Malaysia': 6.67175462547886,
 'North America': 15.952577363469802,
 'Namibia': 3.6360316807451403,
 'New Caledonia': 9.174157925376711,
 'Niger': 2.5950078826985297,
 'Nigeria': 2.7473770053274302,
 'Nicaragua': 5.24749744838026,
 'Netherlands': 19.1961926333387,
 'Norway': 17.0492221563211,
 'Nepal': 5.72767077569198,
 'Nauru': nan,
 'New Zealand': 15.652424527174098,
 'OECD members': 17.1186184107216,
 'Oman': 2.39278695625796,
 'Other small states': 5.49246578300642,
 'Pakistan': 4.312774311337559,
 'Panama': 8.104731079667571,
 'Peru': 8.08839279183076,
 'Philippines': 5.12256876829946,
 'Palau': nan,
 'Papua New Guinea': 3.4452692514561702,
 'Poland': 17.5178167625452,
 'Pre-demographic dividend': 2.75381363776434,
 'Puerto Rico': 18.674850210356897,
 'Korea, Dem. People’s Rep.': 9.334520409787961,
 'Portugal': 21.9538575375873,
 'Paraguay': 6.4302150094608095,
 'West Bank and Gaza': 3.13330573708009,
 'Pacific island small states': 4.53731737663538,
 'Post-demographic dividend': 18.954516967322398,
 'French Polynesia': 8.29050810468202,
 'Qatar': 1.3700703387375,
 'Romania': 18.338701393829602,
 'Russian Federation': 14.6747083203719,
 'Rwanda': 2.9381960775388,
 'South Asia': 5.840560481776191,
 'Saudi Arabia': 3.31408802294981,
 'Sudan': 3.58116052825144,
 'Senegal': 3.08682370101833,
 'Singapore': 11.4633801933791,
 'Solomon Islands': 3.5989504592889396,
 'Sierra Leone': 2.96655621131612,
 'El Salvador': 8.28709000480629,
 'San Marino': nan,
 'Somalia': 2.8733109429455603,
 'Serbia': 18.3457926916963,
 'Sub-Saharan Africa (excluding high income)': 2.98729217395572,
 'South Sudan': 3.39848287985152,
 'Sub-Saharan Africa': 2.9877056065448397,
 'Small states': 6.02956944874001,
 'Sao Tome and Principe': 2.9256781090661,
 'Suriname': 6.90636990225525,
 'Slovak Republic': 15.629246504777,
 'Slovenia': 19.6068796541788,
 'Sweden': 20.0955249278002,
 'Eswatini': 4.01458794083506,
 'Sint Maarten (Dutch part)': nan,
 'Seychelles': 7.5945456043503405,
 'Syrian Arab Republic': 4.50312442147583,
 'Turks and Caicos Islands': nan,
 'Chad': 2.4805189443490097,
 'East Asia & Pacific (IDA & IBRD countries)': 9.49824756454622,
 'Europe & Central Asia (IDA & IBRD countries)': 12.5755989186922,
 'Togo': 2.8694680110882205,
 'Thailand': 11.9008931395893,
 'Tajikistan': 3.02188755207627,
 'Turkmenistan': 4.426634461940139,
 'Latin America & the Caribbean (IDA & IBRD countries)': 8.25620923692216,
 'Timor-Leste': 4.31649229400603,
 'Middle East & North Africa (IDA & IBRD countries)': 5.40251473043988,
 'Tonga': 5.95366144364662,
 'South Asia (IDA & IBRD)': 5.840560481776191,
 'Sub-Saharan Africa (IDA & IBRD countries)': 2.9877056065448397,
 'Trinidad and Tobago': 10.7349535163324,
 'Tunisia': 8.315679078988769,
 'Turkey': 8.4832129399716,
 'Tuvalu': nan,
 'Tanzania': 2.60129917835952,
 'Uganda': 1.9409869204631698,
 'Ukraine': 16.434686439201602,
 'Upper middle income': 10.037948799058801,
 'Uruguay': 14.8145195308593,
 'United States': 15.8076540556035,
 'Uzbekistan': 4.419137878136401,
 'St. Vincent and the Grenadines': 9.58978686338024,
 'Venezuela, RB': 7.266986620125969,
 'British Virgin Islands': nan,
 'Virgin Islands (U.S.)': 19.288307222009898,
 'Vietnam': 7.2749782978793,
 'Vanuatu': 3.6401530681973497,
 'World': 8.87344224397751,
 'Samoa': 4.80041197375197,
 'Kosovo': nan,
 'Yemen, Rep.': 2.87626975604452,
 'South Africa': 5.31800500542302,
 'Zambia': 2.09967802593266,
 'Zimbabwe': 2.9395236530011295}

In [45]:
# Mapping mean_ages with country
grouped_countries['pop_65'] = grouped_countries['Country/Region'].map(age_dict)
grouped_countries.set_index('Country/Region', inplace=True)
grouped_countries.head()

                CumConfirmed  CumDeaths     pop_65
Country/Region
Afghanistan              281          6   2.584927
Albania                  304         17  13.744736
Algeria                 1171        105   6.362497
Andorra                  439         16        NaN
Angola                     8          2   2.216374

In [47]:
# Checking for missing values
grouped_countries[grouped_countries.pop_65.isna()]

                                  CumConfirmed  CumDeaths  pop_65
Country/Region
Andorra                                    439         16     NaN
Bahamas                                     24          1     NaN
Brunei                                     134          1     NaN
Burma                                       20          1     NaN
Congo (Brazzaville)                         22          2     NaN
Congo (Kinshasa)                           134         13     NaN
Czechia                                   4091         53     NaN
Diamond Princess                           712         11     NaN
Dominica                                    12          0     NaN
Egypt                                      985         66     NaN
Eritrea                                     22          0     NaN
Gambia                                       4          1     NaN
Holy See                                     7          0     NaN
Iran                                     53183       3294     NaN
Korea, South                             10062        174     NaN
Kosovo                                     126          1     NaN
Kyrgyzstan                                 130          1     NaN
Laos                                        10          0     NaN
Liechtenstein                               75          0     NaN
MS Zaandam                                   9          2     NaN
Monaco                                      64          1     NaN
Russia                                    4149         34     NaN
Saint Kitts and Nevis                        9          0     NaN
Saint Lucia                                 13          0     NaN
Saint Vincent and the Grenadines             3          0     NaN
San Marino                                 245         30     NaN
Slovakia                                   450          1     NaN
Syria                                       16          2     NaN
Taiwan*                                    348          5     NaN
US                                      275586       7087     NaN
Venezuela                                  153          7     NaN