In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
base_url = "https://raw.githubusercontent.com/CSSEGISandData/COVID-19/master/csse_covid_19_data/csse_covid_19_time_series/"

def loadData(fileName, columnName):
    data = pd.read_csv(base_url + fileName) \
             .drop(['Lat', 'Long'], axis=1) \
             .melt(id_vars=['Province/State', 'Country/Region'], var_name='date', value_name=columnName) \
             .fillna('<all>')
    data['date'] = data['date'].astype('datetime64[ns]')
    return data

In [3]:
all_data = loadData("time_series_19-covid-Confirmed.csv", "CumConfirmed") \
    .merge(loadData("time_series_19-covid-Deaths.csv", "CumDeaths")) \
    .merge(loadData("time_series_19-covid-Recovered.csv", "CumRecovered"))

In [4]:
all_data.head()

,Province/State,Country/Region,date,CumConfirmed,CumDeaths,CumRecovered
0,<all>,Thailand,2020-01-22,2,0,0
1,<all>,Japan,2020-01-22,2,0,0
2,<all>,Singapore,2020-01-22,0,0,0
3,<all>,Nepal,2020-01-22,0,0,0
4,<all>,Malaysia,2020-01-22,0,0,0

In [5]:
# Opening csv with human development index
dev_index = pd.read_csv('developed_countries.csv')
dev_index.head()

          name  humanDevelopmentIndex    pop2020
0       Norway                  0.953   5421.241
1  Switzerland                  0.944   8654.622
2    Australia                  0.939  25499.884
3      Ireland                  0.938   4937.786
4      Germany                  0.936  83783.942

In [6]:
pop_dict = dict(zip(dev_index.name, dev_index.pop2020))
pop_dict

{'Norway': 5421.241,
 'Switzerland': 8654.622,
 'Australia': 25499.884,
 'Ireland': 4937.786,
 'Germany': 83783.942,
 'Iceland': 341.243,
 'Sweden': 10099.265,
 'Hong Kong': 7496.981,
 'Singapore': 5850.342,
 'Netherlands': 17134.872,
 'Denmark': 5792.202,
 'Canada': 37742.154,
 'United States': 331002.651,
 'United Kingdom': 67886.011,
 'Finland': 5540.72,
 'New Zealand': 4822.233,
 'Belgium': 11589.623,
 'Liechtenstein': 38.128,
 'Japan': 126476.461,
 'Austria': 9006.398,
 'Luxembourg': 625.978,
 'South Korea': 51269.185,
 'Israel': 8655.535,
 'France': 65273.511,
 'Slovenia': 2078.938,
 'Spain': 46754.778,
 'Czech Republic': 10708.981,
 'Italy': 60461.826,
 'Malta': 441.543,
 'Estonia': 1326.535,
 'Greece': 10423.054,
 'Cyprus': 1207.359,
 'Poland': 37846.611,
 'United Arab Emirates': 9890.402,
 'Lithuania': 2722.289,
 'Andorra': 77.265,
 'Qatar': 2881.053,
 'Slovakia': 5459.642,
 'Brunei': 437.479,
 'Saudi Arabia': 34813.871,
 'Portugal': 10196.709,
 'Latvia': 1886.198,
 'Bahrain': 1701.575,
 'Chile': 19116.201,
 'Hungary': 9660.351,
 'Croatia': 4105.267,
 'Argentina': 45195.774,
 'Oman': 5106.626,
 'Russia': 145934.462,
 'Montenegro': 628.066,
 'Bulgaria': 6948.445,
 'Romania': 19237.691,
 'Belarus': 9449.323,
 'Bahamas': 393.244,
 'Uruguay': 3473.73,
 'Kuwait': 4270.571,
 'Malaysia': 32365.999,
 'Barbados': 287.375,
 'Kazakhstan': 18776.707,
 'Palau': 18.094,
 'Iran': 83992.949,
 'Seychelles': 98.347,
 'Costa Rica': 5094.118,
 'Turkey': 84339.067,
 'Mauritius': 1271.768,
 'Panama': 4314.767,
 'Serbia': 8737.371,
 'Albania': 2877.797,
 'Trinidad and Tobago': 1399.488,
 'Antigua and Barbuda': 97.929,
 'Georgia': 3989.167,
 'Saint Kitts and Nevis': 53.199,
 'Cuba': 11326.616,
 'Mexico': 128932.753,
 'Grenada': 112.523,
 'Sri Lanka': 21413.249,
 'Bosnia and Herzegovina': 3280.819,
 'Venezuela': 28435.94,
 'Brazil': 212559.417,
 'Lebanon': 6825.445,
 'Azerbaijan': 10139.177,
 'Thailand': 69799.978,
 'Armenia': 2963.243,
 'Algeria': 43851.044,
 'Ecuador': 17643.054,
 'China': 1439323.776,
 'Ukraine': 43733.762,
 'Peru': 32971.854,
 'Saint Lucia': 183.627,
 'Colombia': 50882.891,
 'Mongolia': 3278.29,
 'Fiji': 896.445,
 'Dominican Republic': 10847.91,
 'Tunisia': 11818.619,
 'Jordan': 10203.134,
 'Jamaica': 2961.167,
 'Tonga': 105.695,
 'Saint Vincent and the Grenadines': 110.94,
 'Suriname': 586.632,
 'Botswana': 2351.627,
 'Maldives': 540.544,
 'Dominica': 71.986,
 'Samoa': 198.414,
 'Uzbekistan': 33469.203,
 'Belize': 397.628,
 'Marshall Islands': 59.19,
 'Turkmenistan': 6031.2,
 'Libya': 6871.292,
 'Paraguay': 7132.538,
 'Gabon': 2225.734,
 'Moldova': 4033.963,
 'South Africa': 59308.69,
 'Philippines': 109581.078,
 'Egypt': 102334.404,
 'Vietnam': 97338.579,
 'Indonesia': 273523.615,
 'Bolivia': 11673.021,
 'Palestine': 5101.414,
 'Iraq': 40222.493,
 'El Salvador': 6486.205,
 'Kyrgyzstan': 6524.195,
 'Morocco': 36910.56,
 'Nicaragua': 6624.554,
 'Guyana': 786.552,
 'Cape Verde': 555.987,
 'Tajikistan': 9537.645,
 'Guatemala': 17915.568,
 'Namibia': 2540.905,
 'India': 1380004.385,
 'Micronesia': 115.023,
 'Timor-Leste': 1318.445,
 'Honduras': 9904.607,
 'Bhutan': 771.608,
 'Kiribati': 119.449,
 'Bangladesh': 164689.383,
 'Republic of the Congo': 5518.087,
 'Vanuatu': 307.145,
 'Laos': 7275.56,
 'Ghana': 31072.94,
 'Equatorial Guinea': 1402.985,
 'Kenya': 53771.296,
 'Sao Tome and Principe': 219.159,
 'Zambia': 18383.955,
 'Cambodia': 16718.965,
 'Angola': 32866.272,
 'Myanmar': 54409.8,
 'Nepal': 29136.808,
 'Pakistan': 220892.34,
 'Cameroon': 26545.863,
 'Solomon Islands': 686.884,
 'Papua New Guinea': 8947.024,
 'Tanzania': 59734.218,
 'Zimbabwe': 14862.924,
 'Nigeria': 206139.589,
 'Rwanda': 12952.218,
 'Mauritania': 4649.658,
 'Lesotho': 2142.249,
 'Madagascar': 27691.018,
 'Uganda': 45741.007,
 'Benin': 12123.2,
 'Senegal': 16743.927,
 'Togo': 8278.724,
 'Comoros': 869.601,
 'Sudan': 43849.26,
 'Afghanistan': 38928.346,
 'Haiti': 11402.528,
 'Ivory Coast': 26378.274,
 'Malawi': 19129.952,
 'Djibouti': 988.0,
 'Ethiopia': 114963.588,
 'Gambia': 2416.668,
 'Guinea': 13132.795,
 'DR Congo': 89561.403,
 'Guinea-Bissau': 1968.001,
 'Yemen': 29825.964,
 'Eritrea': 3546.421,
 'Mozambique': 31255.435,
 'Liberia': 5057.681,
 'Mali': 20250.833,
 'Burkina Faso': 20903.273,
 'Sierra Leone': 7976.983,
 'Burundi': 11890.784,
 'Chad': 16425.864,
 'South Sudan': 11193.725,
 'Central African Republic': 4829.767,
 'Niger': 24206.644,
 'Tuvalu': 11.792,
 'Somalia': 15893.222}

In [7]:
index_dict = dict(zip(dev_index.name, dev_index.humanDevelopmentIndex))
index_dict

{'Norway': 0.953,
 'Switzerland': 0.944,
 'Australia': 0.939,
 'Ireland': 0.938,
 'Germany': 0.936,
 'Iceland': 0.935,
 'Sweden': 0.933,
 'Hong Kong': 0.933,
 'Singapore': 0.932,
 'Netherlands': 0.931,
 'Denmark': 0.929,
 'Canada': 0.926,
 'United States': 0.924,
 'United Kingdom': 0.922,
 'Finland': 0.92,
 'New Zealand': 0.917,
 'Belgium': 0.916,
 'Liechtenstein': 0.916,
 'Japan': 0.909,
 'Austria': 0.908,
 'Luxembourg': 0.904,
 'South Korea': 0.903,
 'Israel': 0.903,
 'France': 0.901,
 'Slovenia': 0.896,
 'Spain': 0.891,
 'Czech Republic': 0.888,
 'Italy': 0.88,
 'Malta': 0.878,
 'Estonia': 0.871,
 'Greece': 0.87,
 'Cyprus': 0.869,
 'Poland': 0.865,
 'United Arab Emirates': 0.863,
 'Lithuania': 0.858,
 'Andorra': 0.858,
 'Qatar': 0.856,
 'Slovakia': 0.855,
 'Brunei': 0.853,
 'Saudi Arabia': 0.853,
 'Portugal': 0.847,
 'Latvia': 0.847,
 'Bahrain': 0.846,
 'Chile': 0.843,
 'Hungary': 0.838,
 'Croatia': 0.831,
 'Argentina': 0.825,
 'Oman': 0.821,
 'Russia': 0.816,
 'Montenegro': 0.814,
 'Bulgaria': 0.813,
 'Romania': 0.811,
 'Belarus': 0.808,
 'Bahamas': 0.807,
 'Uruguay': 0.804,
 'Kuwait': 0.803,
 'Malaysia': 0.802,
 'Barbados': 0.8,
 'Kazakhstan': 0.8,
 'Palau': 0.798,
 'Iran': 0.798,
 'Seychelles': 0.797,
 'Costa Rica': 0.794,
 'Turkey': 0.791,
 'Mauritius': 0.79,
 'Panama': 0.789,
 'Serbia': 0.787,
 'Albania': 0.785,
 'Trinidad and Tobago': 0.784,
 'Antigua and Barbuda': 0.78,
 'Georgia': 0.78,
 'Saint Kitts and Nevis': 0.778,
 'Cuba': 0.777,
 'Mexico': 0.774,
 'Grenada': 0.772,
 'Sri Lanka': 0.77,
 'Bosnia and Herzegovina': 0.768,
 'Venezuela': 0.761,
 'Brazil': 0.759,
 'Lebanon': 0.757,
 'Azerbaijan': 0.757,
 'Thailand': 0.755,
 'Armenia': 0.755,
 'Algeria': 0.754,
 'Ecuador': 0.752,
 'China': 0.752,
 'Ukraine': 0.751,
 'Peru': 0.75,
 'Saint Lucia': 0.747,
 'Colombia': 0.747,
 'Mongolia': 0.741,
 'Fiji': 0.741,
 'Dominican Republic': 0.736,
 'Tunisia': 0.735,
 'Jordan': 0.735,
 'Jamaica': 0.732,
 'Tonga': 0.726,
 'Saint Vincent and the Grenadines': 0.723,
 'Suriname': 0.72,
 'Botswana': 0.717,
 'Maldives': 0.717,
 'Dominica': 0.715,
 'Samoa': 0.713,
 'Uzbekistan': 0.71,
 'Belize': 0.708,
 'Marshall Islands': 0.708,
 'Turkmenistan': 0.706,
 'Libya': 0.706,
 'Paraguay': 0.702,
 'Gabon': 0.702,
 'Moldova': 0.7,
 'South Africa': 0.699,
 'Philippines': 0.699,
 'Egypt': 0.696,
 'Vietnam': 0.694,
 'Indonesia': 0.694,
 'Bolivia': 0.693,
 'Palestine': 0.686,
 'Iraq': 0.685,
 'El Salvador': 0.674,
 'Kyrgyzstan': 0.672,
 'Morocco': 0.667,
 'Nicaragua': 0.658,
 'Guyana': 0.654,
 'Cape Verde': 0.654,
 'Tajikistan': 0.65,
 'Guatemala': 0.65,
 'Namibia': 0.647,
 'India': 0.64,
 'Micronesia': 0.627,
 'Timor-Leste': 0.625,
 'Honduras': 0.617,
 'Bhutan': 0.612,
 'Kiribati': 0.612,
 'Bangladesh': 0.608,
 'Republic of the Congo': 0.606,
 'Vanuatu': 0.603,
 'Laos': 0.601,
 'Ghana': 0.592,
 'Equatorial Guinea': 0.591,
 'Kenya': 0.59,
 'Sao Tome and Principe': 0.589,
 'Zambia': 0.588,
 'Cambodia': 0.582,
 'Angola': 0.581,
 'Myanmar': 0.578,
 'Nepal': 0.574,
 'Pakistan': 0.562,
 'Cameroon': 0.556,
 'Solomon Islands': 0.546,
 'Papua New Guinea': 0.544,
 'Tanzania': 0.538,
 'Zimbabwe': 0.535,
 'Nigeria': 0.532,
 'Rwanda': 0.524,
 'Mauritania': 0.52,
 'Lesotho': 0.52,
 'Madagascar': 0.519,
 'Uganda': 0.516,
 'Benin': 0.515,
 'Senegal': 0.505,
 'Togo': 0.503,
 'Comoros': 0.503,
 'Sudan': 0.502,
 'Afghanistan': 0.498,
 'Haiti': 0.498,
 'Ivory Coast': 0.492,
 'Malawi': 0.477,
 'Djibouti': 0.476,
 'Ethiopia': 0.463,
 'Gambia': 0.46,
 'Guinea': 0.459,
 'DR Congo': 0.457,
 'Guinea-Bissau': 0.455,
 'Yemen': 0.452,
 'Eritrea': 0.44,
 'Mozambique': 0.437,
 'Liberia': 0.435,
 'Mali': 0.427,
 'Burkina Faso': 0.423,
 'Sierra Leone': 0.419,
 'Burundi': 0.417,
 'Chad': 0.404,
 'South Sudan': 0.388,
 'Central African Republic': 0.367,
 'Niger': 0.354,
 'Tuvalu': 0.0,
 'Somalia': 0.0}

In [8]:
# Grouping data by country
grouped_country = all_data.groupby('Country/Region').max().drop('Province/State', axis=1).reset_index()
grouped_country.head()

  Country/Region       date  CumConfirmed  CumDeaths  CumRecovered
0    Afghanistan 2020-03-22            40          1             1
1        Albania 2020-03-22            89          2             2
2        Algeria 2020-03-22           201         17            65
3        Andorra 2020-03-22           113          1             1
4         Angola 2020-03-22             2          0             0

In [9]:
grouped_country['dev_index'] = grouped_country['Country/Region'].map(index_dict)
grouped_country['population'] = grouped_country['Country/Region'].map(pop_dict)
grouped_country.set_index('Country/Region', inplace=True)
grouped_country.head()

,date,CumConfirmed,CumDeaths,CumRecovered,dev_index,population
Country/Region,,,,,,
Afghanistan,2020-03-22,40,1,1,0.498,38928.346
Albania,2020-03-22,89,2,2,0.785,2877.797
Algeria,2020-03-22,201,17,65,0.754,43851.044
Andorra,2020-03-22,113,1,1,0.858,77.265
Angola,2020-03-22,2,0,0,0.581,32866.272

In [10]:
# Checking for missing values
grouped_country[grouped_country['dev_index'].isna()]

,date,CumConfirmed,CumDeaths,CumRecovered,dev_index,population
Country/Region,,,,,,
"Bahamas, The",2020-03-22,4,0,0,NaN,NaN
Cabo Verde,2020-03-22,3,0,0,NaN,NaN
Congo (Brazzaville),2020-03-22,3,0,0,NaN,NaN
Congo (Kinshasa),2020-03-22,30,1,0,NaN,NaN
Cote d'Ivoire,2020-03-22,14,0,1,NaN,NaN
Cruise Ship,2020-03-22,712,8,325,NaN,NaN
Czechia,2020-03-22,1120,1,6,NaN,NaN
East Timor,2020-03-22,1,0,0,NaN,NaN
Eswatini,2020-03-22,4,0,0,NaN,NaN
"Gambia, The",2020-03-22,1,0,0,NaN,NaN
Holy See,2020-03-22,1,0,0,NaN,NaN
"Korea, South",2020-03-22,8897,104,2909,NaN,NaN
Kosovo,2020-03-22,2,0,0,NaN,NaN
Martinique,2020-03-22,37,1,0,NaN,NaN
Monaco,2020-03-22,23,0,1,NaN,NaN
North Macedonia,2020-03-22,114,1,1,NaN,NaN
San Marino,2020-03-22,160,20,4,NaN,NaN
Syria,2020-03-22,1,0,0,NaN,NaN
Taiwan*,2020-03-22,169,2,28,NaN,NaN
US,2020-03-22,15793,117,6,NaN,NaN

In [11]:
grouped_country.loc['US']

date            2020-03-22 00:00:00
CumConfirmed                  15793
CumDeaths                       117
CumRecovered                      6
dev_index                       NaN
population                      NaN
Name: US, dtype: object

In [ ]:
# Adding missing values
#grouped_country[grouped_country['Country/Region'] == 'US']['dev_index'] = 0.924

grouped_country.loc['US', 'dev_index'] = 0.924
grouped_country.loc['Korea, South', 'dev_index'] = 0.903
grouped_country.loc['US', 'population'] = 331002.651
grouped_country.loc['Korea, South', 'population'] = 0.903
# df.at['C', 'x'] = 10
grouped_country

In [ ]:
grouped_country['DeathRate'] = (grouped_country.CumDeaths/grouped_country.CumConfirmed)*100
grouped_country.head()

In [ ]:
# sort df by Count column
grouped_country = grouped_country.sort_values(['DeathRate'], ascending=False)
grouped_country.head()

In [ ]:
greater_one = grouped_country[grouped_country['DeathRate'] > 0]

more_than_100 = greater_one[greater_one.CumConfirmed > 100]

mean = more_than_100.DeathRate.mean()


fig, ax = plt.subplots(figsize=(24, 6))
ax = sns.barplot(x=more_than_100.index, y=more_than_100.DeathRate, data=more_than_100, color="salmon")
ax.axhline(mean)
plt.xticks(rotation=90)
ax.set(xlabel='Country (More than 100 cases)', ylabel='Death Rate')
plt.tight_layout()
plt.savefig('current_death_rates.png', dpi=600)

In [ ]:
more_than_100.head()

In [ ]:
fix, ax = plt.subplots()

sns.set_style('dark')
size = dev_index.pop2020
ax = sns.regplot(x="humanDevelopmentIndex", y="DeathRate", data=more_than_100)
ax.set_title('Death Rates vs Development Index')
sns.despine()
plt.savefig('death_rate_v_dev_index.png', dpi=600)

In [ ]:
fix, ax = plt.subplots()

sns.set_style('dark')
#size = dev_index['pop2020']
ax = sns.scatterplot(x="humanDevelopmentIndex", y="DeathRate", data=more_than_100, size=marker_size)
ax.set_title('Death Rates vs Development Index')
sns.despine()
plt.savefig('death_rate_v_dev_index_2.png', dpi=600)

In [ ]:
marker_size = dev_index.pop2020
marker_size